// marginTop: '1rem',
//         bottom: 0,
//         textAlign: 'center',
//         width: '100%',
//       }}

.container {
  margin-top: 1rem;
  text-align: center;
  align-self: end;
  width: 100%;
}
