.app {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  max-height: 100vh;

  & .container {
    display: flex;
    max-height: 75vh;
    overflow-y: hidden;
    margin-top: 0.1rem;
    @media only screen and (min-width: 1200px) {
      height: 72vh;
    }
  }
}
