.app {
  max-width: 1200px;
  display: grid;
  grid-template-rows: auto;
  align-items: baseline;
  margin: auto;
  min-height: 100vh;
  overflow: hidden;
  & .container {
    display: flex;
    & .listContent {
      display: none;
    }
  }
}
