/*
$primaryColor:#05386b;
$primaryColor:#edc7b7;

$mainBackground: #eee2dc;
$mainBackground: #edc7b7;

$secondaryBackground: #5cdb95;
$secondaryBackground: #379683;
*/

$colorsinspo1: #3d5af1;
$colorsinspo2: #22d1ee;
$colorsinspo3: #e2f3f5;
$colorsinspo4: #0e153a;

$primaryColor: #053260;
$secondaryColor: #b1edcc;
$mainBackground: #9de9bf;
$secondaryBackground: #b1edcc;
$darkBackground: #7eba99;

$btnBackground: #a03232;
$btnColor: #fff;

$offWhite: #f7f7f7;
$mainBlack: #222;
$mainGrey: #ececec;
$darkGrey: #989898;

$mainTransition: all 0.3s linear;
$mainSpacing: 3px;
$lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
